@import "options/connected";

/* @import "settings/fonts"; */

body {
  display: grid;
  font-family: "YSText", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #008000;
  transition: all 0.5s;
  user-select: none;
}

// div {
//   display: block;
//   width: 600px;
//   height: 400px;
//   background-image: url("@img/BottomBG.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
// }

p {
  font-size: 30px;
}
