@font-face {
  src: url("../fonts/BriosoPro_Italic.woff2") format("woff2"), url("../fonts/BriosoPro_Italic.woff") format("woff");
  font-family: "BriosoPro_Italic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}